<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="C:\temp\internal-nlog-userSubscription.txt">

	<exztensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</exztensions>

	<targets>

		<variable name="logDirectory" value="logs/${shortdate}"/>
		
		<target name-="file1" xsi:type="File" fileName="${logDirectory}/file1.txt" />

		<target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

		<target xsi:type="Database"
				name="database"
				dbProvider="Npgsql.NpgsqlConnection, Npgsql"
				connectionString= "Server=localhost;Port=5432;Database=user_subscription;User Id=postgres;Password=ALmonty123!@#;"
				
				commandText='INSERT INTO public.log (
				"MachineName", "Logged", "Level", "Message", "Logger", "Callsite", "Exception")
				VALUES ( @MachineName, @Logged, @Level, @Message, @Logger, @Callsite, @Exception)' >
			

			<parameter name="@MachineName" layout="${machinename}"/>
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callSite" layout="${callsite:filename=true}" />
			<parameter name="@exception" layout="${exception:tostring}" />
		</target>
	</targets>

	<!--To know when to write to db-->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console,database,file1" />

		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console,database" />

		<!--Skip Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>

</nlog>
